// Basic Colors
$black: #1D1D1B;
$blue: #293894;
$borderblue:#263C92;
$white: #ffffff;
$green: #E1F4F5;
$buttongreen: #77CDD2;
$grey: #6A6A6A;
$transparentWhite: rgba(255, 255, 255, 0.8);

// Interactions
$interaction: ':hover';

// Breakpoints
$tablet: 992px; 
$mobile: 592px;

// Font sizes
$XXlarge: 3rem;
$Xlarge: 2.5rem;
$large: 1.5rem;
$medium: 1.25rem;
$small: 1rem;
$Xsmall: 0.8125rem;
$XXsmall: 0.625rem;

