<div class="wrapper container">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Client Name</label>
                <div class="col-md-6 col-sm-12">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>All</option>
                        <option value="1">David</option>
                        <option value="2">Clark</option>
                        <option value="3">Warner</option>
                      </select>
                </div>
              </div>
          </div>
          <div class="col-md-5 col-sm-12">
    
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Date range</label>
                <div class="col-md-6 col-sm-12">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Last 7 days</option>
                        <option value="1">Last 14 days</option>
                        <option value="2">Last 21 days</option>
                        <option value="3">Last 28 days</option>
                      </select>
                </div>
                <p class="small-text"><span><fa-icon [icon]="faExclamationCircle"></fa-icon></span>The data present in the dashboard is accurate up to yesterday</p>
              </div>
          </div>
          <div class="col-4"></div>
        </div>
    </div>