
<div class="sidebar" [ngClass]="{ expanded: isExpanded }">
  <div class="header">
    <h1 class="title">HMC</h1>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>
    <div class="content">
      <div class="link">
        <div class="content" routerLink="/Clients" routerLinkActive="active">
        <div class="icon">
          <fa-icon [icon]="faUsers"></fa-icon>
        </div>
        <div class="title"><span>Clients</span></div>
        </div>
      </div>
      <div class="link">
        <div class="content" routerLink="/Templates" routerLinkActive="active">
        <div class="icon">
          <fa-icon [icon]="faFile"></fa-icon>
        </div>
        <div class="title"><span>Templates</span></div>
        </div>
      </div>
      <div class="link">
        <div class="content" routerLink="/Users" routerLinkActive="active">
        <div class="icon">
          <fa-icon [icon]="faUser"></fa-icon>
          
        </div>
        <div class="title"><span>Users</span></div>
        </div>
      </div>
      <div class="link">
      <div class="content" routerLink="/Reports" routerLinkActive="active">
      <div class="icon">
        <fa-icon [icon]="faChartSimple"></fa-icon>
      </div>
      <div class="title"><span>Reports</span></div>
      </div>
    </div>
    <div class="link">
      <div class="content" routerLink="/Subscriptions" routerLinkActive="active" >
      <div class="icon">
        <fa-icon [icon]="faDollarSign"></fa-icon>
        
      </div>
      <div class="title"><span>Subscriptions</span></div>
      </div>
    </div>
    <div class="link">
      <div class="content" routerLink="/Settings" routerLinkActive="active" >
      <div class="icon">
        <fa-icon [icon]="faCog"></fa-icon>
      </div>

      <div class="title"><span>Settings</span></div>
      </div>
    </div>
    </div>
  </div>
